.project_name {
	width: 270px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project__progress {
	display: flex;
	text-align: center;
}

.project__progress > div {
	min-width: 48px;
	padding: 0 2px 0 2px;
}

.project__progressBar {
	display: block;
	height: 10px;
	border-radius: 5px;
}

.project__progressNotStarted {
	background-color: #ff6961;
}

.project__progressStarted {
	background-color: #ffa700;
}

.project__progressDone {
	background-color: #39c38d;
}
